/**
 * 登录页面自定义css
 * */
.mui-content, body, html{
	background: #fff;
}
.mui-content{
	padding-bottom: 0;
}
.cover{
	height: 260px;
	width: 100%;
	margin-top: -60px;
}
.login-icon-max{
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	background: #D72C22;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;

	z-index: 9;
	top:0;
	left:50%;
	transform: translate(-50%, -0%);
	-webkit-transform: translate(-50%, -0%);
	-moz-transform: translate(-50%, -0%);
	-os-transform: translate(-50%, -0%);
	margin-top: 120px;
}
.login-icon-max img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.login{
	padding: 15px;
}
.login .login-border{
	padding-top: 13px;
	border-bottom: 1px solid #F2F2F2;
}
.login-icon{
	width: 30px;
	height: 34px;
}
.login .login-label{
	color: #999999;
	font-size: 13px;
}
.mui-input-row label{
	width: 10%;
	padding: 0;
	height: 40px;
	line-height: 43px;
	color: #999999;
	font-size: 13px;
}
.mui-input-row .mui-input-clear{
	height: 40px;
	line-height: 40px;
	padding:0 0 0 10px;
	font-size: 14px;
	width: 90%;
	border: none;
}
.qr-input{
	line-height: 40px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	border: none !important;
	font-size: 14px;
}
.qr-btn{
	background: #D72C22;
	color: #fff;
	font-size: 12px;
	width: inherit !important;
	padding: 5px 10px !important;
	border-color: #D72C22;
	position: absolute;
	right: 0;
	top: 7px;
}
.protocol-label{
	padding-left: 30px !important;
	width: inherit !important;
	font-family: "微软雅黑" !important;
}
.userAgreement{
	color: #D72C22;
	font-size: 13px;
}
.login-checkbox{
	left: 0px !important;
	width: 10%;
	top:10px !important;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
	font-size: 24px !important;
}
.login-btn{
	background: #D72C22;
	width: 80%;
	border-color: #D72C22;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 30px;
	padding: 15px;
	margin-top: 20px;
}

.login-btn-div{
	text-align: center;
}
.mui-btn:active, .mui-btn:focus{
	background: #D72C22 !important;
}

/*iphone6*/
@media screen and (max-width:375px) {

}
/*iphone5*/
@media screen and (max-width:320px) {
	.cover{
		height: 220px;
	}
	.login-label, .qr-input, .qr-btn, .mui-input-clear, .protocol-label{
		font-size: 13px !important;
	}
	.login-checkbox{
		font-size: 20px;
		top: 8px !important;
	}
	.login-btn{
		padding: 10px;
		margin-top: 10px;
	}

	.login-icon-max{
		margin-top: 80px;
	}
	.mui-checkbox.mui-left label, .mui-radio.mui-left label{
		padding-right: 0px;
	}
}