/**
 * 订单评价页面自定义css
 * */
.mui-content{
	padding-bottom: 0;
}

.order-bar{
	margin-top: 10px;
	background: #fff;
}
.order-bar .order-num{
	padding: 15px;
	color: #666;
	font-size: 16px;
	border-bottom: 1px solid #F2F2F2;
}
.order-bar .order-num .order-status{
	float: right;
}
.status-1{
	color: #D72C22;
}

.goods-img{
	max-width: 100px !important;
	width: 100px !important;
	height: 80px !important;
}
.goods-name{
	font-size: 16px !important;
	color: #000 !important;
}
.goods-p{
	margin-top: 38px;
}
.goods-price{
	font-size: 16px;
	color: #D72C22;
}
.service-money{
	max-width: 100px !important;
	width: 100px !important;
	line-height: 21px !important;
	height: 10px !important;
	color: #000;
	font-size: 14px;
}
.bask-btn{
	padding: 2px 20px;
	padding-top: 3px;
	border:1px solid #D72C22;
	color: #D72C22;
	border-radius: 4px;
	-webkit-transform: translateY(0%) !important;
	transform: translateY(0%) !important;
	bottom: 12px;
	top:inherit !important;
	font-size: 12px;
}
.service-bask-btn{
	bottom: 10px;
}
.context{
	background: #fff;
}
.context .border-bottom{
	padding: 15px;
	border-bottom: 1px solid #F2F2F2;
}
.mui-radio label{
	font-size: 14px;
	font-family: "微软雅黑";
}
.mui-content-padded{
	padding: 15px;
	margin: 0;
	border-bottom: 1px solid #F2F2F2;
}
.mui-content-padded .mui-inline{
	font-size: 14px;
	position: relative;
	top: 5px;
}
.icons i{
	font-size: 30px;
	color: #E9E9E9;
	position: relative;
	top: -6px;
}
.mui-icon-star-filled{
	color: #D72C22 !important;
}
.textarea{
	height: 70px;
	width: 100%;
	resize:none;
	font-size: 12px;
	padding: 5px 10px;
	background: #F6F6F6;
	margin: 0;
}
.evaluate-text{
	padding: 15px;
}
.upload-btn{
	background: #E9E9E9;
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.upload-btn i{
	color: #959595;
	font-size: 50px !important;
}
.upload-btn:active, .upload-btn:focus i{
	background: #E9E9E9 !important;
}
.publish{
	text-align: right;
	padding: 15px;
}
.publish-btn{
	padding: 6px 40px !important;
	font-size: 12px;
	border: 1px solid #D72C22 !important;
	background: #D72C22 !important;
	border-radius: 30px;
	color: #fff;
}
.preview-div{
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 0;
	border-bottom: 1px solid #F2F2F2;
}
.preview-div img{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}
.padding-right15{
	position: relative;
}
.closeImg{
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 12px;
	box-sizing: border-box;
	border: 1px solid #D72C22;
	color: #D72C22;
	position: absolute;
	right: 10px;
	top: -5px;
	text-align: center;
	line-height: 19px;
	border-radius: 50%;
	background: #fff;

}


/*iphone6*/
@media screen and (max-width:375px) {
	
}
/*iphone5*/
@media screen and (max-width:320px) {
	.mui-checkbox.mui-left label, .mui-radio.mui-left label{
		padding-left: 50px !important;
	}
	body{
		overflow-x: hidden;;
	}
}