<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magicbeans.banjiuwan.mapper.ICookTimeConfigMapper">


    <insert id="addCookTimeConfig">
        INSERT INTO `cook_time_config`
        (`timeConfigId`,`cookId`)
        VALUES
        (#{cookTime.timeConfigId},#{cookTime.cookId})
    </insert>


    <insert id="batchAddCookTimeConfig">
        INSERT INTO `cook_time_config`
        (`timeConfigId`,`cookId`)
        VALUES
        <foreach collection="cookTimeConfigs" index="index" item="cookTime" separator=",">
            (#{cookTime.timeConfigId},#{cookTime.cookId})
        </foreach>
    </insert>


    <delete id="delCookTimeByCook">
        DELETE FROM `cook_time_config` WHERE `cookId`=#{cookId}
    </delete>


    <select id="queryByTimeConfig" resultType="com.magicbeans.banjiuwan.beans.Cook">
       SELECT
            c.real_name AS realName,
            c.phone_number AS phoneNumber,
            c.id AS id
        FROM
            `cook` c,
            cook_time_config ctc,
            order_time_config otc
        WHERE
            c.id = ctc.cookId
        AND otc.id = ctc.timeConfigId
        AND otc.time = #{timeConfig}
    </select>

    <select id="queryByCookId" resultType="com.magicbeans.banjiuwan.beans.CookTimeConfig">
        SELECT * FROM `cook_time_config`
        WHERE `cookId`=#{cookId}
    </select>

</mapper>