<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.magicbeans.banjiuwan.mapper.INewUserCouponMapper">
    <resultMap id="BaseNewUserCoupon" type="com.magicbeans.banjiuwan.beans.NewUserCoupon">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="coupon_id" property="couponId" javaType="java.lang.Integer"/>
        <result column="days" property="days" javaType="java.lang.Integer"/>
    </resultMap>

    <update id="updateNewUserCoupon">
        UPDATE `new_user_coupon` SET `days`=#{newUserCoupon.days} WHERE `id`=#{newUserCoupon.id}
    </update>

    <insert id="addNewUserCoupon">
        INSERT INTO `new_user_coupon`
        (`coupon_id`,`days`)
        VALUES
        (#{newUserCoupon.couponId},#{newUserCoupon.days})
    </insert>

    <insert id="batchAdd">
        INSERT INTO `new_user_coupon`
        (`coupon_id`,`days`)
        VALUES

        <foreach collection="newUserCoupons" item="newUserCoupon" index="index" separator=",">
            (#{newUserCoupon.couponId},#{newUserCoupon.days})
        </foreach>
    </insert>


    <delete id="del">
        DELETE FROM `new_user_coupon` WHERE `coupon_id`=#{id}
    </delete>


    <select id="queryAll" resultMap="BaseNewUserCoupon">
        SELECT * FROM `new_user_coupon`
    </select>


















</mapper>