<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.magicbeans.banjiuwan.mapper.IWeddingSonMapper">

    <resultMap id="BaseWeddingSon" type="com.magicbeans.banjiuwan.beans.WeddingSon">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="units" property="units" javaType="java.lang.String"/>
        <result column="price" property="price" javaType="java.lang.Double"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
    </resultMap>

    <select id="queryWeddingSonByChildCategory" resultMap="BaseWeddingSon">
        SELECT ws.* FROM wedding_son_wedding_childcategory wswc,wedding_son ws
        WHERE
          wswc.wedding_son_id=ws.id AND wedding_child_category_id=#{childCategoryId}
    </select>

    <insert id="addWeddingSon">
        INSERT INTO `wedding_son` (`name`,`units`,`price`,`create_time`)
        VALUES
        (#{son.name},#{son.units},#{son.price},NOW())
    </insert>

    <select id="queryAllWeddingSon" resultMap="BaseWeddingSon">
        SELECT * FROM `wedding_son`
    </select>

    <select id="queryPage" resultMap="BaseWeddingSon">
        SELECT * FROM `wedding_son` WHERE 1=1
        <if test="name != null">
            AND `name` LIKE '%${name}%'
        </if>
        ORDER BY `create_time` DESC
        <if test="limit != null and limitSize != null">
            LIMIT #{limit},#{limitSize}
        </if>
    </select>

    <select id="countPage" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `wedding_son` WHERE 1=1
        <if test="name != null">
            AND `name` LIKE '%${name}%'
        </if>
    </select>

    <delete id="delWeddingSon">
        DELETE FROM `wedding_son` WHERE id=#{id}
    </delete>

    <update id="updateWeddingSon">
        UPDATE `wedding_son`
        <set>
            <if test="son.name != null">
                `name`=#{son.name},
            </if>
            <if test="son.units != null">
                `units`=#{son.units},
            </if>
            <if test="son.price != null">
                `price`=#{son.price},
            </if>
        </set>
        WHERE id=#{son.id}
    </update>


</mapper>